body, html {
    height: 100%;
}
.hero-img {
    background: center no-repeat url("./imgs/american-graffiti-lucas.jpg");
    background-size: cover;
    height: 100vh;
}

.carousel-section {
    width: 66vw;
    margin: auto;
}
#carousel-1 {
    background: center / cover no-repeat url("./imgs/shadows-cassavetes.jpg");
    height: 75vh;
}
#carousel-2 {
    background: right / cover no-repeat url("./imgs/sunset-boulevard-wilder.jpg");
    height: 75vh;
}
#carousel-3 {
    background: center / cover no-repeat url("./imgs/meanstreets-scorcese.webp");
    height: 75vh;
}

#message {
    height: 200px;
}

@media only screen and (max-device-width: 1200px) {
    .hero-img {
        background-size: 100% 100%;
        height: calc(100vw / 2.35); /* we use the image height (ratio = 2.35) as section height */
    }
} 